In [3]:
# Initial imports
import pandas as pd
import hvplot.pandas
import plotly.express as px
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

In [4]:
file_path = "merged_data.csv"
merged_df = pd.read_csv(file_path, index_col=0)
merged_df.head(10)

,country_name,year,co2_emissions,merge_id,age-standardized_death_rate_per_100k_male,age-standardized_death_rate_per_100k_female,Sales of cigarettes per adult per day (International Smoking Statistics (2017))
country_code,,,,,,,
ARM,Armenia,1990,19850.000,ARM_1990,51.36,7.40,11.9
ARM,Armenia,1991,20690.000,ARM_1991,49.99,6.01,9.3
ARM,Armenia,1992,10900.000,ARM_1992,45.04,7.44,4.9
ARM,Armenia,1993,5040.000,ARM_1993,40.77,6.69,5.5
ARM,Armenia,1994,2740.000,ARM_1994,36.68,5.89,5.7
ARM,Armenia,1995,3510.000,ARM_1995,37.88,4.41,5.6
ARM,Armenia,1996,2580.000,ARM_1996,38.72,4.45,5.6
ARM,Armenia,1997,3340.000,ARM_1997,40.69,4.70,5.6
ARM,Armenia,1998,3470.000,ARM_1998,38.05,5.43,5.7
AUS,Australia,1960,88202.351,AUS_1960,29.56,3.87,9.1

In [5]:
merged_df.isnull().sum()

country_name                                                                        0
year                                                                                0
co2_emissions                                                                       0
merge_id                                                                            0
age-standardized_death_rate_per_100k_male                                           0
age-standardized_death_rate_per_100k_female                                         0
Sales of cigarettes per adult per day (International Smoking Statistics (2017))     0
dtype: int64

In [6]:
country_name=pd.DataFrame(merged_df['country_name'])
country_name

               country_name
country_code
ARM                 Armenia
ARM                 Armenia
ARM                 Armenia
ARM                 Armenia
ARM                 Armenia
...                     ...
USA           United States
USA           United States
USA           United States
USA           United States
USA           United States

[1593 rows x 1 columns]

In [7]:
merged_df.drop(columns="country_name", inplace=True)
merged_df

,year,co2_emissions,merge_id,age-standardized_death_rate_per_100k_male,age-standardized_death_rate_per_100k_female,Sales of cigarettes per adult per day (International Smoking Statistics (2017))
country_code,,,,,,
ARM,1990,1.985000e+04,ARM_1990,51.36,7.40,11.9
ARM,1991,2.069000e+04,ARM_1991,49.99,6.01,9.3
ARM,1992,1.090000e+04,ARM_1992,45.04,7.44,4.9
ARM,1993,5.040000e+03,ARM_1993,40.77,6.69,5.5
ARM,1994,2.740000e+03,ARM_1994,36.68,5.89,5.7
...,...,...,...,...,...,...
USA,2010,5.392110e+06,USA_2010,40.85,26.54,3.6
USA,2011,5.173600e+06,USA_2011,39.27,25.81,3.5
USA,2012,4.956060e+06,USA_2012,38.15,25.49,3.5
USA,2013,5.092100e+06,USA_2013,36.62,24.83,3.3
USA,2014,5.107210e+06,USA_2014,35.31,24.29,3.2

In [8]:
merged_df.drop(columns="merge_id", inplace=True)
merged_df

,year,co2_emissions,age-standardized_death_rate_per_100k_male,age-standardized_death_rate_per_100k_female,Sales of cigarettes per adult per day (International Smoking Statistics (2017))
country_code,,,,,
ARM,1990,1.985000e+04,51.36,7.40,11.9
ARM,1991,2.069000e+04,49.99,6.01,9.3
ARM,1992,1.090000e+04,45.04,7.44,4.9
ARM,1993,5.040000e+03,40.77,6.69,5.5
ARM,1994,2.740000e+03,36.68,5.89,5.7
...,...,...,...,...,...
USA,2010,5.392110e+06,40.85,26.54,3.6
USA,2011,5.173600e+06,39.27,25.81,3.5
USA,2012,4.956060e+06,38.15,25.49,3.5
USA,2013,5.092100e+06,36.62,24.83,3.3
USA,2014,5.107210e+06,35.31,24.29,3.2

In [9]:
merged_df.dtypes

year                                                                                  int64
co2_emissions                                                                       float64
age-standardized_death_rate_per_100k_male                                           float64
age-standardized_death_rate_per_100k_female                                         float64
Sales of cigarettes per adult per day (International Smoking Statistics (2017))     float64
dtype: object

In [ ]:
# x = pd.get_dummies(merged_df, columns=['', ''])
# x

In [ ]:
# x_scaled =  StandardScaler().fit_transform(x)
# x_scaled